@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-Light.eot');
    src: local('Lato Light'), local('Lato-Light'),
    url('lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('lato/Lato-Light.woff') format('woff'),
    url('lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-weight: 500;
    font-family: "Lato", Helvetica, Arial, sans-serif !important;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif !important;
    line-height: normal;
}

.container.crm-webform-main-container {
    padding: 0 30px;
}

.crm-webform-block.crm-webform-default .crm-webform-body {
    padding: 0 30px;
}

.crm-webform-fieldset-footer {
    margin-top: -20px;
}

button.crm-webform-submit-button {
    border: 2px solid #222222 !important;
    border-radius: 25px;
    background-color: #222222 !important;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 15px;
    width: 100%;
}
button.crm-webform-submit-button:hover {
    background-color: rgba(255,255,255,0) !important;
    border: 2px solid #222222 !important;
    color: #222222;
}

.crm-webform-group input {
    border-radius: 25px;
    background-color: #EDEDED;
    border: 2px solid #EDEDED;
    height: 44px;
}

.crm-webform-group input:hover {
    border: 2px solid #222222;
}

.crm-webform-group input:focus {
    border: 2px solid #222222;
}

.crm-webform-input-label {
    background-color: #ffffff;
}

.crm-webform-label-title label {
    color: #bbbbbb;
    margin-left: 5px;
}

.crm-webform-header-container h2 {
    font-weight: 300 !important;
    font-size: 36px !important;
    color: #222222;
}

.crm-webform-header-container div span.bx-font {
    font-weight: 300 !important;
    font-size: 14px !important;
    color: #7c7c7c !important;
}

#crm-web-form-id-6 {
    background-color: rgba(255,255,255,0) !important;
}

.crm-webform-wrapper{
    background-color: rgba(255,255,255,0) !important;
}

.content-wrap {
    background-color: rgba(255,255,255,0) !important;
}

.main-wrapper {
    background-color: rgba(255,255,255,0) !important;
}

.bx-core {
    background-color: rgba(255,255,255,0) !important;
}

.crm-webform-block {
    background-color: rgba(255,255,255,0) !important;
}

.crm-webform-header-container {
    background-color: rgba(255,255,255,0) !important;
}

.crm-webform-body {
    background-color: rgba(255,255,255,0) !important;
}

body.flexible-middle-width.footer-logo-none.crm-webform-no-borders.page-theme-transparent {
    background-color: rgba(255,255,255,0) !important;
}

.content {
    background-color: rgba(255,255,255,0) !important;
    padding-top: 30px !important;
}





@media only screen and (min-width: 640px) {
    .container.crm-webform-main-container {
        padding: 0;
    }
    .crm-webform-block.crm-webform-default .crm-webform-body {
        padding: 0 15px;
    }
    .crm-webform-header .bx-font {
        text-align: left !important;
    }
    .crm-webform-header-container h2 {
        text-align: left !important;
        font-size: 50px !important;
    }
    .crm-webform-fieldset {
        float: left;
        width: 48%;
    }
    .crm-webform-fieldset-footer {
        float: right;
        margin-top: 21px;
        width: 48%;
    }
    .crm-webform-body {
        max-width: 85%;
    }
    .crm-webform-header-container div span.bx-font div {
        text-align: -webkit-left;
    }
}
